/* Thank you page styles */

.thank-you-title {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

@media screen and (min-width: 1200px) {
    .thank-you-title {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 500px) {
    .thank-you-title {
        margin-bottom: 40px;
    }
}

.thank-you-title h1 {
    transform: rotate(-3.5deg);
    display: inline-block;
    padding: 0 25px 50px 15px;
    margin: 10px auto;
}

@media screen and (min-width: 1200px) {
    .thank-you-title h1 {
        font-size: 130px;
    }
}

@media screen and (max-width: 720px) {
    .thank-you-title h1 {
        max-width: 550px;
        min-width: 300px;
        padding-left: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 390px) {
    .thank-you-title h1 {
        font-size: 38px;
    }
}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.thank-you p {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 0;
}

@media screen and (max-width: 840px) {
    .thank-you p {
        font-size: 26px;
    }
}

@media screen and (max-width: 500px) {
    .thank-you p {
        font-size: 22px;
    }
}

.thank-you img {
    border-radius: 15px;
    width: 420px;
    height: 420px;
    margin: 30px auto;
}

@media screen and (max-width: 720px) {
    .thank-you img {
        width: 100%;
        max-width: 335px;
        height: auto;
        margin: 15px auto;
    }
}

.thank-you .charge-credit {
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 840px) {
    .thank-you .charge-credit {
        font-size: 16px;
    }
}

.thank-you-button {
    margin-top: 30px;
}

.thnx-airpod-bottom {
    top: 1000px !important;
    left: 40px !important;
}